body{
    background-color: #f8f8f8;
    margin:-40px;
    padding:0px;
}
.page-header{
    background-color: black;
    color: white;
    text-align: center;
    
}
img{
    height: 400px;
    width: 400px;
    background-color: powderblue;
}
#shoe{
    /*text-align:center;*/
    padding: 30px 30px 30px 30px;
}
#day{
    width: 100%;
    padding-left: 50px
}